@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*변수선언구간*/
$navy-color : #000028;
$white-color:#fff;
$point-gray:#333;
$light-gray:#ccc;

$title-size:22px;
$button-size:13px;

$url-images: "../images/";
$url-images2: "../images/products/";


@mixin title-basic{
    font-size:$title-size;
    text-align: center;
    color: $point-gray;
    font-weight: bold;
    margin-bottom: 40px;
}

header{
    width: 100%;
    height: 60px;
    background-color: $navy-color;
    .header-cont{
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
        .logo{
            width: 8%;
            padding-top: 10px;
            img{
                height: 45px;
            }
        }
        .menu{
            width: 30%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 18px;
                li{
                    padding: 0 8px;
                    a{
                        color:#bbb;
                        position: relative;
                        transition: color 0.5s;
                        &:hover{
                            color:$white-color;
                            &::after{
                                opacity: 1;
                                width: 100%;
                            }
                        }
                        &::after{
                            content: ""; 
                            display: block;
                            position: absolute;
                            width: 0%;
                            height: 3px;
                            top: 38px;
                            left: 0;
                            background-color: #fff;
                            opacity: 0;
                            transition: opacity 0.5s, width 0.5s;
                        }
                    }
                }
            }
        }
        .mypage{
            width: 8%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                li{
                    a{
                        svg{
                            fill:$white-color;
                            width: 25px;  
                        }
                    }
                }
            }
        }
    }
}
.video-box{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    .video-space{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #scroll{
        position: absolute;
        width: 70px;
        height: 75px;
        top:83%;
        left:50%
    }
}
/************new************/
#new_container{
    width: 100%;
    margin-top: 100px;
    .newtitle{
        @include title-basic;
    }
    #new_arrivals{
        width:1180px;
        height: 880px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(3, 1fr);
        background-color: none;
        text-align: center;
        grid-gap: 10px;
        .new{
            width:auto;height: auto;
            background-color:none;
            display: flex;overflow: hidden;
            justify-content: center;
            align-items: center ;
            background-size: cover;
            position: relative;
            .new_txt{
                width: 280px;
                position: absolute;
                z-index: 99;
                color:$light-gray;
                p{
                    &:nth-child(1){
                        font-size: 16px;font-weight: bold;
                        padding-bottom: 10px;
                    }
                    &:nth-child(2){font-size: 15px;}
                }
            }
            .black2{
                width:290px;height: 290px;
                 position: absolute;
                 top: 0;left: 0;
                 background-color: #000;
                 opacity: 0.5;
             }
            &:nth-child(1){ 
                grid-column: 1/3;grid-row: 1/2;
                background-image: url($url-images+"newArrivalBg.jpg");
            }
            &:nth-child(2){
                background-image: url($url-images2+"new_01_01.jpg");
            }
            &:nth-child(3){
                background-image: url($url-images2+"new_02_01.jpg");
            }
            &:nth-child(4){
                background-image: url($url-images2+"new_03_01.jpg");
            }
            &:nth-child(5){
                background-image: url($url-images2+"new_04_01.jpg");
            }
            &:nth-child(6){
                background-image: url($url-images2+"new_05_01.jpg");
            }
            &:nth-child(7){
                background-image: url($url-images2+"new_06_01.jpg");
            }
            &:nth-child(8){
                background-image: url($url-images2+"new_07_01.jpg");
            }
            &:nth-child(9){
                background-image: url($url-images2+"new_08_01.jpg");
            }
            &:nth-child(10){
                background-image: url($url-images2+"new_09_01.jpg");
            }
            &:nth-child(11){
                background-image: url($url-images2+"new_10_01.jpg");
            }
            #first_txt{
                color:#ccc;
                text-align: left;
                position: absolute;
                left: 20px;
                padding: 80px 0;
                p{
                    &:nth-child(1){
                        font-size: 19px;
                        font-weight: bold;
                        padding-bottom: 10px;
                    }
                    &:nth-child(2){font-size: 15px;}
                }
            }
            .more{
                color:$point-gray;
                border: 1px solid $white-color;
                font-size: $button-size;
                position: absolute;
                padding: 3px 15px;
                background-color: $white-color;
                left:40%;
                top:63px;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    color:$white-color;
                    background-color: $point-gray;
                    border: 1px solid $point-gray;
                }
            }
            
        
        }
    }
}
/************running categories************/
#content{
    width: 100%;
    margin-top: 200px;
    .con_title{
        @include title-basic;
        p{
            &:nth-child(1){
                margin-bottom: 30px;
            }
            &:nth-child(2){
                font-size: 15px;
                margin-bottom: 40px;
                font-weight: normal;
            }
        }
    }
    .running{
        display: flex; 
        flex-wrap:wrap;
        justify-content: space-around;
        img{
            width:600px;
            margin-bottom: 40px
        }
    }
   .txt_box{
        display: flex; 
        flex-wrap:wrap;
        justify-content: space-around;
        .running_txt{
            width:600px;
            margin-bottom: 40px;
            text-align:center ;
            position: relative;
            background-color: $light-gray;
            padding: 30px 0 70px;
            p{
                &:nth-child(1){
                    font-size: 19px;
                    padding-bottom: 10px;
                }
                &:nth-child(2){
                    font-size: 13px;
                }
            }
            .shop{
                font-size:$button-size;
                border:1px solid $navy-color;
                padding: 5px 20px;
                color:$white-color;
                background-color:$navy-color;
                position: absolute;
                left:40%;
                top:100px;
                transition: 0.5s;
                &:hover{
                    border:1px solid $white-color;
                    background-color:$white-color;
                    color:$navy-color;
                }
            }
            .shop2{
                font-size:$button-size;
                border:1px solid $point-gray;
                padding: 5px 20px;
                color:$white-color;
                background-color:$point-gray;
                position: absolute;
                left:40%;
                top:100px;
                transition: 0.5s;
                &:hover{
                    border:1px solid $white-color;
                    background-color:$white-color;
                    color:$point-gray;
                }
            }
            
            
        }
    }
}
footer{
    width: 100%;
    height: 330px;
    position: relative;
    margin-top: 150px;
    overflow: hidden;
    .footer_bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url($url-images+"footer_bg.jpg");
        background-size:cover;
        background-position: 50% 50%;
        opacity: 0.9;
        filter: brightness(40%);
    }
    #foot_logo {
        width: 20%;
        img{
            width: 110px;
            height: 60px;
            position: absolute;
            top:10%;left:2%;
            filter:brightness(0) invert(100%);
        }
    }
    #foot_menu{
        width: 60%;
        margin: 0 auto;
        display: flex; 
        padding-top: 40px;
        color:$white-color;
        border-bottom: 1px solid $light-gray;
        #menu1{
            width:50%;
            ul{
                li{
                   
                    ul{
                        display: inline-block;
                        margin-right: 100px;
                        padding-bottom: 10px;
                        li{
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
        #menu2{
            width:50%;
                ul{
                    margin-left: 20px;
                    li{
                        ul{
                            display: inline-block;
                            margin-right: 150px;
	                        transform:translate(-20%, 0%);
                            li{
                                padding: 5px 0;
                            }
                        }
                        #why{
                            li{
                                &:nth-child(4) {opacity: 0;cursor: default;}
                            }
                        }
                    }
                }
            }
        .sub_menu{
            display: block;
            border-bottom: 1px solid $white-color;
            font-size: 16px;
            padding-bottom: 5px;
            font-weight: bold;
            }
        a{
            color:$white-color;
            font-size: 14px;
        }
    }
    #reserve{
        color:$white-color;
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
        p{
            width:260px;
            margin: 0 auto;
        }
        
    }
    #white_puma{
        img{
        width: 270px;height: 175px;
        position: absolute;
        left:88%; top:65%;
        }
    }
}
