@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*변수선언구간*/
header {
  width: 100%;
  height: 60px;
  background-color: #000028;
}

header .header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
}

header .header-cont .logo {
  width: 8%;
  padding-top: 10px;
}

header .header-cont .logo img {
  height: 45px;
}

header .header-cont .menu {
  width: 30%;
}

header .header-cont .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
}

header .header-cont .menu ul li {
  padding: 0 8px;
}

header .header-cont .menu ul li a {
  color: #bbb;
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

header .header-cont .menu ul li a:hover {
  color: #fff;
}

header .header-cont .menu ul li a:hover::after {
  opacity: 1;
  width: 100%;
}

header .header-cont .menu ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  top: 38px;
  left: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.5s;
  transition: opacity 0.5s, width 0.5s;
}

header .header-cont .mypage {
  width: 8%;
}

header .header-cont .mypage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

header .header-cont .mypage ul li a svg {
  fill: #fff;
  width: 25px;
}

.video-box {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-box .video-space {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-box #scroll {
  position: absolute;
  width: 70px;
  height: 75px;
  top: 83%;
  left: 50%;
}

/************new************/
#new_container {
  width: 100%;
  margin-top: 100px;
}

#new_container .newtitle {
  font-size: 22px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 40px;
}

#new_container #new_arrivals {
  width: 1180px;
  height: 880px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[4]; */
      grid-template-columns: repeat(4, 1fr);
  /* -ms-grid-rows: (1fr)[3]; */
      grid-template-rows: repeat(3, 1fr);
  background-color: none;
  text-align: center;
  grid-gap: 10px;
}

#new_container #new_arrivals .new {
  width: auto;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  position: relative;
}

#new_container #new_arrivals .new .new_txt {
  width: 280px;
  position: absolute;
  z-index: 99;
  color: #ccc;
}

#new_container #new_arrivals .new .new_txt p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

#new_container #new_arrivals .new .new_txt p:nth-child(2) {
  font-size: 15px;
}

#new_container #new_arrivals .new .black2 {
  width: 290px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

#new_container #new_arrivals .new:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/newArrivalBg.jpg");
}

#new_container #new_arrivals .new:nth-child(2) {
  background-image: url("../images/products/new_01_01.jpg");
}

#new_container #new_arrivals .new:nth-child(3) {
  background-image: url("../images/products/new_02_01.jpg");
}

#new_container #new_arrivals .new:nth-child(4) {
  background-image: url("../images/products/new_03_01.jpg");
}

#new_container #new_arrivals .new:nth-child(5) {
  background-image: url("../images/products/new_04_01.jpg");
}

#new_container #new_arrivals .new:nth-child(6) {
  background-image: url("../images/products/new_05_01.jpg");
}

#new_container #new_arrivals .new:nth-child(7) {
  background-image: url("../images/products/new_06_01.jpg");
}

#new_container #new_arrivals .new:nth-child(8) {
  background-image: url("../images/products/new_07_01.jpg");
}

#new_container #new_arrivals .new:nth-child(9) {
  background-image: url("../images/products/new_08_01.jpg");
}

#new_container #new_arrivals .new:nth-child(10) {
  background-image: url("../images/products/new_09_01.jpg");
}

#new_container #new_arrivals .new:nth-child(11) {
  background-image: url("../images/products/new_10_01.jpg");
}

#new_container #new_arrivals .new #first_txt {
  color: #ccc;
  text-align: left;
  position: absolute;
  left: 20px;
  padding: 80px 0;
}

#new_container #new_arrivals .new #first_txt p:nth-child(1) {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 10px;
}

#new_container #new_arrivals .new #first_txt p:nth-child(2) {
  font-size: 15px;
}

#new_container #new_arrivals .new .more {
  color: #333;
  border: 1px solid #fff;
  font-size: 13px;
  position: absolute;
  padding: 3px 15px;
  background-color: #fff;
  left: 40%;
  top: 63px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#new_container #new_arrivals .new .more:hover {
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
}

/************running categories************/
#content {
  width: 100%;
  margin-top: 200px;
}

#content .con_title {
  font-size: 22px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 40px;
}

#content .con_title p:nth-child(1) {
  margin-bottom: 30px;
}

#content .con_title p:nth-child(2) {
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: normal;
}

#content .running {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#content .running img {
  width: 600px;
  margin-bottom: 40px;
}

#content .txt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#content .txt_box .running_txt {
  width: 600px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  background-color: #ccc;
  padding: 30px 0 70px;
}

#content .txt_box .running_txt p:nth-child(1) {
  font-size: 19px;
  padding-bottom: 10px;
}

#content .txt_box .running_txt p:nth-child(2) {
  font-size: 13px;
}

#content .txt_box .running_txt .shop {
  font-size: 13px;
  border: 1px solid #000028;
  padding: 5px 20px;
  color: #fff;
  background-color: #000028;
  position: absolute;
  left: 40%;
  top: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content .txt_box .running_txt .shop:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000028;
}

#content .txt_box .running_txt .shop2 {
  font-size: 13px;
  border: 1px solid #333;
  padding: 5px 20px;
  color: #fff;
  background-color: #333;
  position: absolute;
  left: 40%;
  top: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#content .txt_box .running_txt .shop2:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #333;
}

footer {
  width: 100%;
  height: 330px;
  position: relative;
  margin-top: 150px;
  overflow: hidden;
}

footer .footer_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/footer_bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.9;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

footer #foot_logo {
  width: 20%;
}

footer #foot_logo img {
  width: 110px;
  height: 60px;
  position: absolute;
  top: 10%;
  left: 2%;
  -webkit-filter: brightness(0) invert(100%);
          filter: brightness(0) invert(100%);
}

footer #foot_menu {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

footer #foot_menu #menu1 {
  width: 50%;
}

footer #foot_menu #menu1 ul li ul {
  display: inline-block;
  margin-right: 100px;
  padding-bottom: 10px;
}

footer #foot_menu #menu1 ul li ul li {
  padding: 5px 0;
}

footer #foot_menu #menu2 {
  width: 50%;
}

footer #foot_menu #menu2 ul {
  margin-left: 20px;
}

footer #foot_menu #menu2 ul li ul {
  display: inline-block;
  margin-right: 150px;
  -webkit-transform: translate(-20%, 0%);
          transform: translate(-20%, 0%);
}

footer #foot_menu #menu2 ul li ul li {
  padding: 5px 0;
}

footer #foot_menu #menu2 ul li #why li:nth-child(4) {
  opacity: 0;
  cursor: default;
}

footer #foot_menu .sub_menu {
  display: block;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: bold;
}

footer #foot_menu a {
  color: #fff;
  font-size: 14px;
}

footer #reserve {
  color: #fff;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

footer #reserve p {
  width: 260px;
  margin: 0 auto;
}

footer #white_puma img {
  width: 270px;
  height: 175px;
  position: absolute;
  left: 88%;
  top: 65%;
}
/*# sourceMappingURL=puma.css.map */